# Quick intro to python

## The very first program

In [1]:
print("Hello world !!!")

Hello world !!!

## Create a variable

In [4]:
my_created_variable = "Python for Ai" # variable is created. Every string variable is enclosed in quote
print(my_created_variable) #The created variable is used here. Compare with the print statement above for better understanding

Python for Ai

## Variable Types

### The standard variables are string, integers, float(numbers with decimal point) and boolean
1. string is always enclosed in double quote "double quote" or single quote like 'single quote'
2. these quote repeated three times on each side serves as quotes too """double quote""" or '''single quote'''
3. note: same type and equal quote on both sides (''' ''') and not (''' """) or ('' ''')

In [6]:
sq = 'single-quote'
sq3 = '''single-quote-3x'''
dq = "double-quote"""
dq3 = """double-quote-3x"""
print(sq, sq3, dq, dq3)

single-quote single-quote-3x double-quote double-quote-3x

In [7]:
# another type is integer
whole_number = 10
print(whole_number) #This is very straight forward

10

In [ ]:
# float
decimal_number = 10.56
print(decimal_number)

In [3]:
# boolean: only have two values True(1) and False(0)
bol = True # bol is holding the boolean value True and not string value 'True'
sbol = 'True'
print(bol, sbol) # the difference is not noticeable until you do type checking

True True

## Type Checking

In [4]:
print(type(bol), type(sbol))

<class 'bool'> <class 'str'>

# Create function to add numbers

In [ ]:
def add(x, y):
    return x + y

add(3, 4)

7

The limitation of the function above; it can only add two numbers. To add two or more numbers, we consider another approach

In [3]:
def add_n(*args):
    # *args takes positional arguments and converts to tuple
    return sum(args)
print(add_n(3, 4)) 
print(add_n(3, 4, 5))

7
12